<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ChatMate</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body>
        <header>
            <div id="logo">
                <img src="/static/logo/Chatmate.png" alt="ChatMate Logo"
                    id="logoImage">
            </div>
        </header>

        <div id="content">
            <h1 id="typingEffect">Welcome to ChatMate!</h1>
            <p>Where AI meets real conversation. Dive in now and see how
                effortless chatting with a virtual assistant can be.</p>
            <button id="startChat">Start Conversation</button>
        </div>

        <div id="chatSection" style="display: none;">
            <div id="leftPane">
                <div id="voiceWave"></div>
                <div id="controls">
                    <button id="playBtn"><i
                            class="fas fa-play fa-lg"></i></button>
                    <button id="toggleRightPaneBtn"><i
                            class="fas fa-columns fa-lg"></i></button>
                </div>
                <button id="backToMain">Back to Home</button>
            </div>
            <div id="rightPane">
                <div class="response" id="responseDiv">
                    <!-- User and bot messages will be appended here -->
                </div>
            </div>
        </div>

        <script src="/static/script.js"></script>
    </body>
</html>
