<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatMate</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div id="logo" class="inconsolata-bold">
            ChatMate
        </div>
    </header>

    <div id="content">
        <h1 id="typingEffect">Welcome to ChatMate!</h1>
        <p>Where AI meets real conversation. Dive in now and see how effortless chatting with a virtual assistant can be.</p>
        <button id="startChat">Start Conversation</button>
    </div>

    <div id="chatSection" style="display: none;">
        <button id="backToMain">Back to Main</button>
    </div>
    

    <script src="/static/script.js"></script>
</body>
</html>